
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}


input[type="text"] {
    width: 100%;
    border: none;
    padding: 12px 16px;
    font-size: 16px;
}


/* ----------------- Button --------------- */
.button {
    min-width: 200px;
    display: block;
    border: none;
    background: #1A374D;
    color: #fff;
    padding: 14px 16px;
    font-size: 16px;
    border-radius: 5px;
    -webkit-appearance: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.button:hover {
    /* background: #406882; */
    opacity: 0.8;
    transition: .3s;
}

.button#submit {
    margin-top: 16px;

}



/* ------------------ Table ---------------- */
.table .first-row {
    background-color: #C7B198;
    color: #fff;
    text-align: center;
}


.table {
    margin-top: 16px;
    width: 100%;
}

.tr:nth-child(even) {
    background: #f2f2f2;
}

.tr:hover {
    background: #ddd;
}

.th {
    border-right: 1px solid #ddd;
    padding: 8px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.td {
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}
.td p {
    padding: 8px;
    text-align: center;
}


/* -------------   ------------- */
.points {
    margin: 50px 0 100px;
}

.points .training h4, p {
    color: #406882;
}
.points .training p {
    font-size: 13px;
    margin: 16px 0 40px;
}


/* ----------- Output ------------ */

.output {
    margin-top: 50px;
}

.output .noti-text {
    margin-top: 30px;
    color: #406882;
}

/*-------- Remove section -------*/
.output .remove {
    margin-top: 24px;
}

.output .remove .label-wrap {
    display: flex;
    align-items: center;
}
.output .remove .label-wrap i {
    margin-right: 8px;
    font-size: 24px;
}
.output .remove label {
    font-size: 16px;
}

.output .remove #input-remove {
    border: 1px solid #F05454;
    width: 100%;
    border-radius: 5px 0 0 5px;
    padding: 13px 16px;
}

.output .remove #remove-btn {
    background: #F05454;
    border-radius: 0 5px 5px 0;
    width: 100%;
}

.output .remove .reset-wrap {
    display: flex;
    justify-content: flex-end;
}

.output .remove #reset-btn {
    background: #F05454;
    /* margin-left: 50px; */
    max-width: 150px;
}


/* ========== Slider ============ */
.slider {
    background: #F0ECE3;
}

.slider .slider-wrap {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider .slider-wrap h1 {
    color: #406882;
    text-transform: uppercase;
}

/* ========== Intro ============ */
.intro {
    /* height: 350px; */
}

.intro .intro-wrap {
    background: #F0ECE3;
    /* height: 350px; */
    border-radius: 6px;
}

.intro .intro-wrap .text-wrap {
    padding: 40px;

}

.intro .intro-wrap .text-wrap p, h3 {
    margin-top: 24px;
    line-height: 1.6;
    color: #406882;
}

.intro .intro-wrap .text-wrap h3 {
    font-size: 18px;
}

.intro .intro-wrap  .img-wrap {
    width: 100%;
    height: 350px;
}

.intro .intro-wrap  .img-wrap img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}


/* ========== footer ============ */

.footer {
    height: 350px;
}



@media (max-width: 739px) {
    .slider .slider-wrap {
        margin: 0 24px;
        text-align: center;
    }



    .points {
        margin: 50px 24px 100px;
    }


    .intro .intro-wrap .text-wrap {
        padding: 24px;
        text-align: center;
    
    }

}

/* tablet & Mobile */
@media (max-width: 1023px) {
    .button#submit {
        width: 100%;
    
    }


    .output .remove .reset-wrap {
        margin-top: 60px;
        justify-content: center;
    }
    
    .output .remove #input-remove {
        margin: 16px 0;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    
}


/* PC */
@media (min-width: 1024px) {

}
