@import url('https://fonts.googleapis.com/css2?family=Meow+Script&family=Montserrat:ital,wght@0,400;0,600;0,700;0,800;0,900;1,400;1,600;1,700;1,800;1,900&family=Oooh+Baby&display=swap');

/* 
font-family: 'Meow Script', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Oooh Baby', cursive;
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --purple: #5D5CF9;

    --bg-color: #809BF3;
    --card_color: #fff;
    --text_color: #20285E;
    --icon-color: #809BF3;
    --table_color: #5D5CF9;
    --table_fr_text_color: #fff; /*text-color*/
}

html {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--bg-color);
}


.input-points {
    background-color: var(--card_color);
    border-radius: 10px;
    padding: 36px;
    margin-top: 100px;
    margin-bottom: 100px;
    /* box-shadow: -5px -5px 0px var(--purple); */
    /* transform: translateY(-50%); */
}

.sticker {
    height: 48px;
}



/* ------------------ target ----------------- */
.target-wrap .sticker-wrap .sticker {
    height: 200px;
}

.target-wrap .sticker-container {
    text-align: center;
    border-right: 1px solid #ddd;
}

.target-wrap .sticker-container h2{
    margin-bottom: 24px;
    color: var(--text_color);
}

.target-wrap .target-container {
    display: flex;
    align-items: center;
}

.target-wrap .target-row {
    width: 100%;
    margin: 24px 0;
}

.target-wrap .target {
    background-color: var(--purple);
    text-align: center;
    padding: 16px;
    color: #fff;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
}


.target-wrap #target-gioi:hover, #target-kha:hover {
    opacity: 0.8;
}

/* ----------------- Nhap so hoc ky -------------- */

.target-wrap .target-row .label-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 30px;
}

.target-wrap .target-row .label-container i {
    font-size: 16px;
    padding-right: 4px;
}

.target-wrap .target-row .label-container label {
    font-size: 13px;
}

input[type="number"] {
    padding: 12px;
    margin: 12px 0 16px;
    width: 50%;
    font-size: 16px;
}

.button {
    background-color: var(--purple);
    border: none;
    padding: 12px 16px;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    -webkit-appearance: none;
}

.button:hover {
    opacity: 0.8;
}

/* ----------------- Nhap diem va so tin chi -------- */
.center {
    text-align: center;
}

.high-light {
    font-size: 24px;
    color: red;
    font-weight: 700;
}





@media (max-width: 739px) {
    .target-wrap .sticker-container {
        border: none;
    }

    .target-wrap .target-row .label-container {
        min-height: 39px;
    }
}

/* tablet & Mobile */
@media (max-width: 1023px) {
    input[type="number"] {
        width: 100%;
    }
    .button {
        width: 100%;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    
}


/* PC */
@media (min-width: 1024px) {

}
