
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eef4f6;
}


input[type="text"] {
    width: 100%;
    border: none;
    padding: 12px 16px;
    font-size: 16px;
}
input[type="number"] {
    width: 100%;
    border: none;
    padding: 12px 16px;
    font-size: 16px;
}
select {
    width: 100%;
    padding: 12px 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('../img/drop-down-black.png') no-repeat;
    background-position: right;
    background-size: 24px;

}

/* ----------------- Button --------------- */
.button {
    min-width: 200px;
    display: block;
    border: none;
    background: #406882;
    color: #fff;
    padding: 14px 16px;
    font-size: 16px;
    border-radius: 5px;
    -webkit-appearance: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.button:hover {
    /* background: #406882; */
    opacity: 0.8;
    transition: .3s;
}

.button#submit {
    margin-top: 16px;

}



/* ------------------ Table ---------------- */
.table .first-row {
    background-color: #C7B198;
    color: #fff;
    text-align: center;
    margin: 0;
}

.table .tr {
    margin: 0;
}

.table-wrap {
    width: 100%;
    overflow-x: auto;
}

.table {
    margin-top: 16px;
    width: 100%;
}

.table-output {
    min-width: 950px;
}

.tr:nth-child(even) {
    background: #f2f2f2;
}

.tr:hover {
    background: #ddd;
}

.th {
    border-right: 1px solid #ddd;
    padding: 8px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.td {
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}
.td p {
    padding: 8px;
    text-align: center;
}


/* -------------   ------------- */
.points {
    margin: 30px 0;
}

.input-wraper {
    background-color: #fff;
    padding: 50px 16px;
    border-radius: 8px;
    box-shadow: 0 0 10px #ddd;
}

.input-wraper .training h4, p {
    color: #406882;
}
.input-wraper .training p {
    font-size: 13px;
    margin: 8px 0 24px;
}


/* ----------- Output ------------ */

.output {
    margin-top: 30px;
    background-color: #fff;
    padding: 50px 16px;
    border-radius: 8px;
    box-shadow: 0 0 10px #ddd;
}

.output .table-label {
    margin: 0;
    text-transform: uppercase;
    text-align: center;
}
.output .label-desc {
    text-align: center;
    font-size: 13px;
    line-height: 1.6;
}
.output .display {
    line-height: 1.6;
    display: none;
}

.output .noti-text {
    margin-top: 16px;
    color: #406882;
}

/*-------- Remove section -------*/
.output .remove {
    margin-top: 16px;
}

.output .remove .label-wrap {
    height: 48px;
    display: flex;
    align-items: center;
}
.output .remove .label-wrap i, span {
    margin-right: 8px;
    font-size: 24px;
}
.output .remove label {
    font-size: 13px;
    color: #406882;
}

.output .remove #input-remove {
    border: 1px solid #F05454;
    width: 100%;
    border-radius: 5px 0 0 5px;
    padding: 13px 16px;
}

.output .remove #remove-btn {
    background: #F05454;
    border-radius: 0 5px 5px 0;
    width: 100%;
}

.output .remove .reset-wrap {
    display: flex;
    justify-content: flex-end;
}

.output .remove #reset-btn {
    background: #F05454;
    /* margin-left: 50px; */
    max-width: 150px;
}


/* ========== Slider ============ */
.slider {
    background: #F0ECE3;
}

.slider .slider-wrap {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider .slider-wrap h1 {
    color: #406882;
    text-transform: uppercase;
    text-align: center;
}

/* ========== Intro ============ */
.intro {
    margin-bottom: 50px;
    background: #F0ECE3;
    box-shadow: 0 0 10px #ddd;
}

.intro .intro-wrap {
    
}

.intro .intro-wrap .text-wrap {

}

.intro .intro-wrap .text-wrap p, h3 {
    margin-top: 16px;
    line-height: 1.6;
    color: #406882;
}

.intro .intro-wrap .text-wrap h3 {
    font-size: 18px;
    margin-top: 24px;
    line-height: 1.6;
    color: #406882;
}

.intro .intro-wrap  .img-wrap {
    width: 100%;
    height: 350px;
    /* background-color: #406882; */
    padding: 16px;
}

.intro .intro-wrap  .img-wrap img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}


/* ========== footer ============ */

.footer {
    padding: 0 0 40px;
    text-align: center;
}



@media (max-width: 739px) {
    .slider .slider-wrap {
        margin: 0 24px;
        text-align: center;
    }

    .output .remove {
        margin: 0;
    }

    .intro .intro-wrap .text-wrap {
        padding: 16px;
        text-align: center;
    
    }


    .input-wraper {
        border-radius: 0;
    }
    .output {
        border-radius: 0;
    }

}

/* tablet & Mobile */
@media (max-width: 1023px) {
    .button#submit {
        width: 100%;
    
    }


    .output .remove .reset-wrap {
        margin-top: 60px;
        justify-content: center;
    }
    
    .output .remove #input-remove {
        margin-bottom: 16px;
    }


    .points {
        margin: 16px 0;
    }
    .output {
        margin-top: 16px;
    }
    .output .remove #input-remove {
        border-radius: 5px;
    }


    .output .display {
        display: block;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    
}


/* PC */
@media (min-width: 1024px) {

}
