
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark_blue: #1D2536;
    --medium-blue: #303855;
    --light_blue: #7F89B0;
    --dark_pink: #C9AFC5;
    --dark_green: #849A6B;
    --brown: #6E4C3B;
    --purple: #5D5CF9;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--dark_blue);
    scroll-behavior: smooth; /*Trình duyệt cuộn mượt hơn*/
}

body {
    width: 100%;
    overflow-x: hidden;
}

/*----- Custom scroll bar -----*/
/* width */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--dark_blue); 
    
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--dark_pink); 
    border-radius: 3px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

/* ----------------- Button --------------- */
.button {
    min-width: 150px;
    display: block;
    border: none;
    background: var(--purple);
    color: white;
    padding: 14px 16px;
    font-size: 16px;
    border-radius: 5px;
    -webkit-appearance: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.button:hover {
    opacity: 0.8;
    transition: .3s;
}



/* ------------------ Table ---------------- */
.table {
    margin-top: 16px;
    width: 100%;
}

.table .first-row {
    background-color: var(--dark_blue);
    color: var(--light_blue);
    text-align: center;
    margin: 0;
    font-size: 13px;
}

.table .tr {
    margin: 0;
}

.table-wrap {
    width: 100%;
    overflow-x: auto;
}

.table-output {
    min-width: 950px;
}

/* .tr:nth-child(even) {
    background: var(--light_blue);
}
 */
.tr:hover p {
    color: var(--purple);
}

.tr:hover .td {
    border: 1px solid var(--purple);
}

.th {
    border-right: 1px solid var(--light_blue);
    padding: 8px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.td {
    border: 1px solid var(--light_blue);
    display: flex;
    align-items: center;
    justify-content: center;
}
.td p {
    padding: 8px;
    text-align: center;
}


/* -------------   ------------- */

input[type="text"] {
    width: 100%;
    border: 1px solid var(--purple);
    border-radius: 5px;
    padding: 12px 16px;
    font-size: 16px;
    background-color: var(--medium-blue);
    color: var(--light_blue);
}
input[type="number"] {
    width: 100%;
    border: 1px solid var(--purple);
    border-radius: 5px;
    padding: 12px 16px;
    font-size: 16px;
    background-color: var(--medium-blue);
    color: var(--light_blue);

    /*Loại bỏ nút mũi tên input: number
     cho trình duyệt firefox*/
    -moz-appearance: textfield;
}

/* Loại bỏ nút mũi tên ô input: number
    Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

select {
    width: 100%;
    padding: 12px 16px;
    margin-top: 4px;
    font-size: 16px;
    color: var(--light_blue);
    border: 1px solid var(--purple);
    border-radius: 5px;
    cursor: pointer;

    background: url('../img/drop-down-black.png') no-repeat;
    background-color: var(--medium-blue);
    background-position: right;
    background-size: 24px;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.points {
    margin: 30px 0;
}

.input-wraper {
    background-color: var(--medium-blue);
    padding: 50px 16px;
    border-radius: 8px;
}

.input-wraper .training h4, p {
    color: var(--light_blue);
}

.input-wraper .training p {
    font-size: 13px;
    margin: 8px 0 24px;
}

.input-wraper .input-container label {
    color: var(--light_blue);
    font-size: 13px;
}

.input-wraper .input-container input {
    margin-top: 4px;
}


.input-wraper .submit-wrap {
    margin-top: 16px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.input-wraper .submit-wrap .alert-text {
    min-height: 48px;
    padding: 14px;
    display: flex;
    align-items: center;
}

.input-wraper .submit-wrap .alert-text p {
    font-size: 13px;
}

.input-wraper .submit-wrap .alert-text i {
    font-size: 16px;
    padding-right: 4px;
}

/* ----------- Output ------------ */

.output {
    margin-top: 30px;
    background-color: var(--medium-blue);
    padding: 50px 16px;
    border-radius: 8px;
}

.output .table-label {
    margin: 0;
    text-transform: uppercase;
    text-align: center;
}
.output .label-desc {
    text-align: center;
    font-size: 13px;
    line-height: 1.6;
}
.output .display {
    line-height: 1.6;
    display: none;
}

.output .noti-text {
    margin-top: 16px;
    color: var(--light_blue);
}

/*-------- Remove section -------*/
.output .remove {
    margin-top: 36px;
}

.output .remove .label-wrap {
    height: 48px;
    display: flex;
    align-items: center;
}
.output .remove .label-wrap i, span {
    margin-right: 8px;
    font-size: 16px;
}
.output .remove label {
    font-size: 13px;
    color: var(--light_blue);
}

.output .remove #input-remove {
    border: 1px solid var(--purple);
    width: 100%;
    border-radius: 5px 0 0 5px;
    padding: 13px 16px;
}

.output .remove #remove-btn {
    border-radius: 0 5px 5px 0;
    width: 100%;
}

.output .remove .reset-wrap {
    display: flex;
    justify-content: flex-end;
}

.output .remove #reset-btn {
    max-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.output .remove #reset-btn i {
    padding-left: 8px;
    font-size: 16px;
}

/* -------------- Confirm remove ---------- */
.remove .confirm-remove {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    animation: opacity ease .4s;
}

@keyframes opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.remove .show {
    display: block;
}



.remove .confirm-remove .confirm-wrap {
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 360px;
    transform: translate(-50%, -50%);
    padding: 24px;
    border-radius: 5px;

    animation: fadeIn ease .4s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
       transform: translate(-50%,-300px);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

.remove .confirm-remove .confirm-wrap h3 {
    margin: 0;
    text-align: center;
}

.confirm-remove .confirm-wrap .btn-wrap {
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
}
.confirm-remove .confirm-wrap .btn-wrap a.button {
    background-color: #F05454;
    margin-right: 24px;
}

/* ========== Slider ============ */

.slider .slider-wrap {
    height: 200px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--medium-blue);
    border-radius: 0 0 10px 10px;
}

.slider .slider-wrap h1 {
    color: var(--light_blue);
    text-transform: uppercase;
    text-align: center;
}

/* ========== Intro ============ */
.intro {
    margin-bottom: 50px;
}

.intro .intro-wrap {
    background: var(--medium-blue);
    border-radius: 10px;
}

.intro .intro-wrap .text-wrap {
    padding: 0 16px;
}

.intro .intro-wrap .text-wrap p, h3 {
    margin-top: 16px;
    line-height: 1.6;
    color: var(--light_blue);
}

.intro .intro-wrap .text-wrap p {
    font-size: 13px;
}

.intro .intro-wrap .text-wrap h3 {
    font-size: 18px;
    margin-top: 24px;
    line-height: 1.6;
    color: var(--light_blue);
}

.intro .intro-wrap  .img-wrap {
    width: 100%;
    height: 350px;
    padding: 16px;
}

.intro .intro-wrap  .img-wrap img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}


/* ========== footer ============ */

.footer {
    padding: 0 0 40px;
    text-align: center;
}



@media (max-width: 739px) {
    .slider .slider-wrap {
        text-align: center;
        border-radius: unset;
    }


    .intro .intro-wrap {
        border-radius: unset;
    }
    .intro .intro-wrap .text-wrap {
        padding: 16px;
        text-align: center;
    
    }

    .intro .intro-wrap {
        padding-bottom: 24px;
    }


    .input-wraper {
        border-radius: 0;
    }
    .output {
        border-radius: 0;
    }

}

/* tablet & Mobile */
@media (max-width: 1023px) {
    .button#submit {
        width: 100%;
    
    }

    .input-wraper .input-container .wrap2 {
        margin-top: 18px;
    }


    .output .remove .reset-wrap {
        margin-top: 24px;
        justify-content: center;
    }
    
    .output .remove #input-remove {
        margin-bottom: 16px;
        border-radius: 5px;
    }
    .output .remove #remove-btn {
        border-radius: 5px;
    }


    .points {
        margin: 16px 0;
    }
    .output {
        margin-top: 16px;
    }


    .output .display {
        display: block;
    }



    .confirm-remove .confirm-wrap .btn-wrap .cf-btn {
        width: 100%;
        margin: 0;
    }

    .confirm-remove .confirm-wrap .btn-wrap a.button {
        margin: 0;
        margin-bottom: 16px;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    
}


/* PC */
@media (min-width: 1024px) {

}
